body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
    width: 60%;
    margin: 100px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="file"] {
    display: block;
    margin-bottom: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border: none;
    text-align: center;
}


#chat-container {
    width: 80%;
    max-width: 800px;
    height: 80%;
    margin: 5% auto;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#messages {
    padding: 10px;
    overflow-y: auto;
    flex-grow: 1;
}

.message {
    margin-bottom: 10px;
}

.user, .chatbot {
    display: inline-block;
    max-width: 70%;
        padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.user {
    background-color: #f1f1f1;
    align-self: flex-end;
    margin-left: 30%;
}

.chatbot {
    background-color: #007bff;
    color: #fff;
    align-self: flex-start;
    margin-right: 30%;
}

#message-form {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

#user-input {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#message-form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#message-form button:hover {
    background-color: #0056b3;
}
